@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #8a51fc;
    height: 100vh;
    width: 100vw;
}

img.logo {
    display: block;
    height: 10%;
    margin: 20px auto;
}

main {
    background-color: white;
    border-radius: 20px;
    height: 80%;
    width: 300px;
    padding: 8px 24px 10px;
    margin: 0 auto;
    border: 1px solid black;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}


.selectMoedas {
    border: 1px solid rgba(187, 187, 187, 1);
    width: 100%;
    border-radius: 4px;
    height: 37px;
    font-weight: 700;
    border-radius: 4px;
    border-width: 1px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
    padding-left: 18px;
    color: #555555;
    appearance: none;
    /*remove setas do Selection*/
}

input {
    border: 1px solid rgba(187, 187, 187, 1);
    width: 100%;
    border-radius: 4px;
    height: 37px;
    font-weight: 700;
    border-radius: 4px;
    border-width: 1px;
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 18px;
    color: #555555;
    appearance: none;
}

button {
    background-color: #772FD3;
    border-radius: 5px;
    height: 37px;
    color: #ffffff;
    border: none;
    margin: 0 auto;
    display: block;
    width: 80%;
    cursor: pointer;
    font-size: 18px;
}

button:hover {

    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

img#logo-de,
#logo-para {
    height: 44px;
    display: block;
    margin: 0 auto;
}

img#seta {
    height: 30px;
}

.cx-mostra {
    border: 1px solid rgba(119, 47, 211, 1);
    padding: 10px;
    margin-top: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.de, h3, h4, .para {
    display: block;
    margin: 0 auto;

}

#seta {
    display: block;
    margin: 18px auto;

}